_pilotSchema_9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="LanguageData">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="Language"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Language">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GeneralInfo"/>
				<xs:element ref="Possession"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GeneralInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LangID" type="xs:token" />
				<xs:element name="ISO639-3" type="xs:string"/>
				<xs:element name="Location" type="xs:string"/>
				<xs:element name="Country" maxOccurs="unbounded" type="xs:string"/>
				<xs:element name="GeneticRelation" type="xs:string"/>
				<xs:element name="WordOrder" type="xs:string"/>
				<xs:element name="CaseSystem" type="xs:string"/>
				<xs:element name="NominalPhrase" type="xs:string"/>
				<xs:element name="InterchangeaStrategies" type="xs:string"/>
				<xs:element name="RelStrategies" type="xs:string"/>
			
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Possession">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PronominalPossession"/>
				<xs:element ref="NominalPossession"/>
			</xs:sequence>
		</xs:complexType>
		
		<xs:key name="keyStrategy">
			<xs:selector xpath="./PronominalPossession/StrategyPronom" />
			<xs:field xpath="@StrategyID" />
		</xs:key>
		
		<xs:keyref name="keyrefStrategy" refer="keyStrategy">
			<xs:selector xpath="./NominalPossession/Strategy/PronStrategy" />
			<xs:field xpath="@refStrategyID" />
		</xs:keyref>
	
	</xs:element>
	
	<xs:element name="PronominalPossession">
		<xs:complexType>
			<xs:sequence>
				<!--<xs:element maxOccurs="unbounded" ref="Strategy"/>-->
				<xs:element maxOccurs="unbounded" ref="StrategyPronom"/>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="StrategyPronomNonCanonical"/>
				</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="NominalPossession">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="StrategyNomMorph"></xs:element>
					<xs:element ref="StrategyNomJuxt"></xs:element>
					<xs:element ref="StrategyNomPron"></xs:element>
					<xs:element ref="StrategyNomNonCanonical"></xs:element>
					
					
					<!-- TEMP ELEMENT TO DELETE WHEN STRATEGIES ARE CORRECTED-->
					<xs:element ref="Strategy"/>
				
				</xs:choice>
			
			</xs:sequence>
		
		</xs:complexType>
	</xs:element>


	
	<xs:element name="StrategyNomMorph">
		<xs:complexType>
			<xs:sequence>
				
				<xs:element ref="Semantics"/>
				<xs:element ref="Morphology"/>
				<xs:element ref="SyntEnvironment"/>
			
			</xs:sequence>
			<xs:attribute name="Complexity" use="required" type="ComplexityAttrType"/>
			<xs:attribute name="StrategyID" use="required" type="xs:string"/>
		
		</xs:complexType>
	</xs:element>

	<xs:element name="StrategyNomJuxt">
		<xs:complexType>
			<xs:sequence>
			
				<xs:element ref="Semantics"/>
				<xs:element ref="Juxtaposition"/>
				<xs:element ref="SyntEnvironment"/>
			
			</xs:sequence>
			<xs:attribute name="StrategyID" use="required" type="xs:string"/>
		
		</xs:complexType>
	</xs:element>
	
		<xs:element name="StrategyNomPron">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PronStrategy" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="refStrategyID" use="required" type="xs:string"></xs:attribute>
					</xs:complexType>
				</xs:element>
				
				<xs:element minOccurs="0" ref="Semantics"/>
				<xs:choice>
					
					<xs:element minOccurs="0" ref="Juxtaposition"/>
					<xs:element minOccurs="0" ref="Morphology"/>
				</xs:choice>
				
				<xs:element ref="SyntEnvironment"/>
			
			</xs:sequence>
			<xs:attribute name="StrategyID" use="required" type="xs:string"/>
		
		</xs:complexType>
	</xs:element>

	
	
	<xs:element name="StrategyNomNonCanonical">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Morphology"/>
				<xs:element ref="SyntEnvironment"/>
			
			</xs:sequence>
			<xs:attribute name="Complexity" type="ComplexityAttrType" use="required" />
			<xs:attribute name="StrategyID" type="xs:string" use="required" />
		
		</xs:complexType>
	</xs:element>
	
	
	<xs:element name="StrategyPronom">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Semantics"/>
				<xs:element ref="Morphology"/>
				<xs:element ref="SyntEnvironment"/>
			
			</xs:sequence>
			<xs:attribute name="Complexity" type="ComplexityAttrType" use="required" />
			<xs:attribute name="StrategyID" type="xs:string" use="required" />
		
		</xs:complexType>
	</xs:element>
	
	<xs:element name="StrategyPronomNonCanonical">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Morphology"/>
				<xs:element ref="SyntEnvironment"/>
			
			</xs:sequence>
			<xs:attribute name="Complexity" type="ComplexityAttrType" use="required" />
			<xs:attribute name="StrategyID" type="xs:string" use="required" />
		
		</xs:complexType>
	</xs:element>
	
	
	<xs:element name="Strategy">
		<xs:complexType>
			<xs:sequence>
<!--				<xs:element minOccurs="0" ref="Remark"/> -->
				<xs:element name="PronStrategy" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="refStrategyID" type="xs:string"></xs:attribute>
					</xs:complexType>
				</xs:element>
				
				<xs:element minOccurs="0" ref="Semantics"/>
				<xs:choice>
					
					<xs:element minOccurs="0" ref="Juxtaposition"/>
					<xs:element minOccurs="0" ref="Morphology"/>
				</xs:choice>
				
				<xs:element ref="SyntEnvironment"/>
			
			</xs:sequence>
			<xs:attribute name="SharedWithPronominal" type="xs:string"/>
			<xs:attribute name="Complexity" type="ComplexityAttrType"/>
			<xs:attribute name="Replaceable" type="ReplaceableAttrType" />
			
			<xs:attribute name="StrategyID" type="xs:string"/>
		
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Semantics">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Possessor"/>
				<xs:element ref="Possessed"/>
				<xs:element ref="RelationPRPD"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Possessor">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Remark"/>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Resources"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Possessed">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Remark"/>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Resources"/>
			</xs:sequence>
			<xs:attribute name="ObligatoryPossessed" type="xs:string" use="required"/>
			<xs:attribute name="BodyParts" type="xs:string"/>
			<xs:attribute name="Clothes" type="xs:string"/>
			<xs:attribute name="Kinship" type="xs:string"/>
			<xs:attribute name="Others" type="xs:string"/>
			<xs:attribute name="PlantParts" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RelationPRPD">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Remark"/>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Resources"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Juxtaposition">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="Remark"/>
				<xs:element ref="CompoundingTest"/>
<!--				<xs:element ref="SyntEnvironment"/> -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CompoundingTest">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Text"/>
				<xs:element ref="Gloss"/>
				<xs:element ref="Translation"/>
				<xs:element ref="Resources"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Morphology">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Pronoun"/>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Morpheme"/>
<!--				<xs:element ref="SyntEnvironment"/> -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Morpheme">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Remark"/>
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="morph"/>
				<xs:element ref="Explanation"/>
			
			</xs:sequence>
			<xs:attribute name="Label" type="xs:string"/>
			<xs:attribute name="AttachmentSite" use="required" type="xs:string"/>
			<xs:attribute name="Pronoun" type="xs:string"/>
			<xs:attribute name="SharedWithNominal" type="xs:string"/>
			<xs:attribute name="UsedinPronominal" type="xs:string"/>
			<xs:attribute name="Position" type="xs:string"/>
		<!-- 	<xs:attribute name="pronoun" type="xs:string"/>  -->
		</xs:complexType>
	</xs:element>
	<xs:element name="morph" type="xs:string"/>
	<xs:element name="Remark" type="xs:string"/>
	<xs:element name="Explanation" type="xs:string"/>
	
	<xs:element name="Pronoun">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="Remark"/>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="pron"/>
				<xs:element minOccurs="0" ref="Asymmetry"/>
			</xs:sequence>
			<xs:attribute name="Dedication" use="required"/>
			<xs:attribute name="AttachmentSite" use="required" type="xs:string"/>
			<xs:attribute name="SharedwithNominal" use="required"/>
			<xs:attribute name="Position" />
		
		</xs:complexType>
	</xs:element>
	<xs:element name="pron">
		<xs:complexType mixed="true">
			<xs:attribute name="proximity" type="xs:string"/>
			<xs:attribute name="gender" type="xs:string"/>
			<xs:attribute name="number" use="required" type="xs:string"/>
			<xs:attribute name="person" use="required" type="xs:string"/>
			<xs:attribute name="inclusive" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Asymmetry" type="xs:string"/>
	
	<xs:element name="SyntEnvironment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Adnominal" minOccurs="0" maxOccurs="unbounded" type="ExampleType"/>
				<xs:element name="Predicative" maxOccurs="unbounded" type="ExampleType"/>
				<xs:element name="EllidedPossessed" maxOccurs="unbounded" type="ExampleType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Remarks" type="xs:normalizedString"/>
	<!-- <xs:element name="Text" type="xs:string"/> -->
	<xs:element name="Text">
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="pPron" type="xs:string"></xs:element>
				<xs:element name="pMorp" type="xs:string"></xs:element>
				<xs:element name="pPosed" type="xs:string"></xs:element>
				<xs:element name="pPosor" type="xs:string"></xs:element>

			</xs:choice>
		</xs:complexType>
	
	</xs:element>
	<xs:element name="Gloss" type="xs:string"/>
	<xs:element name="Translation" type="xs:string"/>
	
	<xs:element name="Resources" type="xs:string" />
	
	<xs:complexType name="ExampleType">
		<xs:sequence>
			<xs:element ref="Remarks" minOccurs="0" />
			<xs:element ref="Text" minOccurs="0" />
			<xs:element ref="Gloss" minOccurs="0" />
			<xs:element ref="Translation" minOccurs="0" />
			<xs:element ref="Resources" minOccurs="0" />
		
		</xs:sequence>
		</xs:complexType>
	
	
	<xs:simpleType name="ComplexityAttrType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="simplex" />
			<xs:enumeration value="complex" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ReplaceableAttrType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="yes" />
			<xs:enumeration value="?yes" />
			<xs:enumeration value="no" />
			<xs:enumeration value="?no" />
			<xs:enumeration value="??" />
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:simpleType name="ObligatoryPossessed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="yes" />
			<xs:enumeration value="Partially" />
			<xs:enumeration value="no" />
			<xs:enumeration value="?no" />
			<xs:enumeration value="??" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>


